@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Chathura:wght@100&family=Smooch+Sans:wght@300&family=Wire+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background-color: #0c0f16;
   
}

.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}

.navbar .logo a{
    color: #e1e2e3;
    font-size: 35px;
    font-weight: 200;
    

font-family: 'Smooch Sans', sans-serif;
/*font-family: 'Wire One', sans-serif;*/
    
    
    /*font-family: 'Bebas Neue', cursive;*/
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    font-family: 'Smooch Sans', sans-serif;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    /*background-color: #121721;*/
    background-color: #988e75;
    border-bottom: solid #ae9c69 1px;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
}

.menu-btn{
    color:  #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        background-color: #121721;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }

    .max-width{
        max-width: 930px;
    }
}section{
    padding: 50px 0;
}
@media (max-width: 690px){
    section{
        padding: 20px 0;
    }
}
.top{
    color: #fff;
    display: flex;
    /*background: url("../public/banner_top_v5.jpg") no-repeat center;*/
    height: 85vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    /*font-family: 'Share Tech Mono', monospace;*/
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/

}
.top .max-width{
    width: 100%;
    display: flex;
}
.top .top-content .text-1{
    font-size: 25px;
}
.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}
.top .top-content .text-3{
    font-size: 30px;
    margin: 5px 0;
}
.top .top-content a{
    display: inline-block;
    background: none;
    color: #fff;
    
    font-size: 25px;
    padding: 8px 5px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
}
.top .top-content a:hover{
    color: #ffffff;
    background: #2c2c2c;
    
    
}

.services{
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Share Tech Mono', monospace;*/
    /*font-family: 'Poppins', sans-serif;*/
}
.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services .title{
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
    font-size: 35px;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #1b202a;
    text-align: center;
    border-radius: 6px;
    padding: 40px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #988e75;
}
.services .serv-content .card i{
    font-size: 50px;
    color: #ffffff;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
@media (max-width: 947px){
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media (max-width: 690px){
    .services .serv-content .card{
        width: 100%;
    }
}

.premium{
    color: #fff;
    background-color: #151921;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Share Tech Mono', monospace;*/
    /*font-family: 'Poppins', sans-serif;*/
}
.premium .title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 35px;
}
.premium .premium-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.premium .premium-content .left{
    width: 45%;
}
.premium .premium-content .left img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.premium .premium-content .right{
    width: 55%;
}
.premium .premium-content .right .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.premium .premium-content .right p{
    text-align: justify;
}
.premium .premium-content .right a{
    display: inline-block;
    background: none;
    color: #fff;
    
    font-size: 25px;
    padding: 8px 5px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 10px;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
}
.premium .premium-content .right a:hover{
    color: #ffffff;
    background: #2c2c2c;
}
@media(max-width: 1104px){
    .premium .premium-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 947px){
    .premium .premium-content .column{
        width: 100%;
    }
    .premium .premium-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .premium .premium-content .right{
        flex: 100%;
    }
}

footer{
    background: #988e75;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    /*font-family: 'Share Tech Mono', monospace;*/
    /*font-family: 'Poppins', sans-serif;*/
    margin-top: auto;
}
footer span a{
    color: #fff;
}
footer span a:hover{
    color: #d7b94b;
}

.about{
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Share Tech Mono', monospace;*/
    /*font-family: 'Poppins', sans-serif;*/
}
.about .title{
    
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 35px;
    padding-top: 50px;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #121721;
    border-radius: 6px;
    padding: 30px;
}
.about .about-content .left{
    width: 40%;
}
.about .about-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 60%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}
@media(max-width: 1104px){
    .about .about-content .left img{
        width: 300px;
        height: 300px;
    }
    .about .about-content .right{
        padding-left: 10px;
    }
}
@media (max-width: 947px){
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .right{
        padding-left: 0;
    }
}
@media (max-width: 500px){
    .about .title{
        margin-top: 50px;
    }
}

.contact{
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Share Tech Mono', monospace;
    /*font-family: 'Poppins', sans-serif;*/
}
.contact .title{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 35px;
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.chamados .chamados-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #ffffff;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #f6f6f6;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-family: 'Share Tech Mono', monospace;
    /*font-family: 'Poppins', sans-serif;*/
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #0c0f16;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button-area{
    display: flex;
    align-items: center;
}

.chamados .chamados-content .column{
    width: calc(50% - 30px);
}
.chamados .chamados-content .left p{
    text-align: justify;
}
.chamados .chamados-content .left .icons{
    margin: 10px 0;
}
.chamados .v-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.chamados .chamados-content .row .info{
    margin-left: 30px;
}
.chamados .chamados-content .row i{
    font-size: 25px;
    color: #ffffff;
}
.chamados .chamados-content .info .head{
    font-weight: 500;
}
.chamados .chamados-content .info .sub-title{
    color: #f6f6f6;
}
.chamados .chamados-content .text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.chamados .right form .field,
.chamados .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.chamados .right form .textarea{
    height: 80px;
    width: 100%;
}
.chamados .right form .name{
    margin-right: 10px;
}
.chamados .right form .field input,
.chamados .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-family: 'Share Tech Mono', monospace;
    /*font-family: 'Poppins', sans-serif;*/
    transition: all 0.3s ease;
}
.chamados .right form .field input:focus,
.chamados .right form .textarea textarea:focus{
    border-color: #0c0f16;
}
.chamados .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.chamados .right form .button-area{
    display: flex;
    align-items: center;
}

.chamados{
    color: #fff;
    background-color: #0c0f16;
    font-family: 'Share Tech Mono', monospace;
    /*font-family: 'Poppins', sans-serif;*/
}
.chamados .title{
    text-align: center;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight:100;
    font-size: 30px;
    font-family: 'Share Tech Mono', monospace;
}

.right form .button-area button{
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: wrap;
    background-color: #0c0f16;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
}
.right form .button-area button:hover{
    color: #547ec7;
    background: none;
}
@media (max-width: 947px){
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 500px){
    .contact .title{
        margin-top: 50px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
}
.alert-danger{
    background-color: #f8d7da;
    color: #842029;
    margin: 10px 0;
    border: 1px solid #f5c2c7;
    border-radius: 6px;
    padding: 7px;
}
.alert-success{
    background-color: #d1e7dd;
    color: #0f5132;
    margin: 10px 0;
    border: 1px solid #badbcc;
    border-radius: 6px;
    padding: 7px;
}
.select-tipo{
    background-color: #f9f9f9;
    color: #000;
    margin: 10px 0;
    border: 1px solid #badbcc;
    border-radius: 6px;
    padding: 10px;
}